/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }
  
  /* убираю отступ у первых 5-и блоков*/
  .table__cell_theme_dark:nth-child(-n + 5) {
    margin-top: 0;
  }